<h3>Orden de compra aceptada</h3>
<h4>Descripción: </h4>Avisa que una orden de compra emitida por el grupo 7 fue aceptada<br>
<h4>Método: </h4>PUT <br>
<h4>URL: </h4> /api/accepted_order<br>
<h4>Headers: </h4>Authentication token<br>
<h4>Parámetros: </h4>order_id: integer<br>

<br>
Si falta alguno de los parámetros:
<br><br>
<p class="developer_command">
		Status Code: 400 BAD REQUEST
	{
	    "username":
	    [
	        "This field is required."
	    ],
	    "password":
	    [
	        "This field is required."
	    ]
	}
</p>
<br>
Nombre de usuario o contraseña incorrectos:
<br><br>
<p class="developer_command">
	Status Code: 400 BAD REQUEST
	{
	    "non_field_errors":
	    [
	        "Unable to log in with provided credentials."
	    ]
	}
</p>