<h3>Registrar grupo</h3>
<h4>Descripción: </h4>Permite registrar el grupo y obtener el token utilizando su nombre de usuario y contraseña.<br>
<h4>Método: </h4>POST <br>
<h4>URL: </h4> $HOST/api/register_group<br>
<h4>Parámetros: </h4>username: string , password: string<br>


<h4>Ejemplo:</h4>
<br>
<p class="developer_command">
	curl -X POST http://integra7.ing.puc.cl/api/register_group -d "username= grupo7 "  -d "password= no_olvidare_la_contrasenha"

	Respuesta:
	{"status":"200","token":"f90cf1bd6b5b7da270a2930d0ac8bbf8"}

</p>


<br>
Si falta alguno de los parámetros:
<br><br>
<p class="developer_command">
		{“status”:400,”description”:”Missing parameter”}
		
</p>
<br>
Si el grupo ya existe:
<br><br>
<p class="developer_command">
		{“status”:”409”,”description”:”Group already exists”}
		
</p>
<br>
